html{
  background-color: slategrey;
}

h1 {
  font-size: 100px;
  text-align: center;
  color:orange;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: greenyellow;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: red;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

button {
  float: left;
  text-align: center;
  display: block;
  background: linear-gradient(35deg, darkorange 40%, yellow 90%);
  color: rgb(50, 50, 50);
  border-radius: 10px;
  padding: 8px;
  font-size: 12px;
  margin: auto;
}

input{
  float: left;
  text-align: left;
  display: block;
  font-size: 20px;
  margin: auto;
  width: 300px;
}

textarea{
  text-align: center;
  display: block;
  margin: auto;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}